.main-color {
    background: #4cac49ff;
}

.accent-color {
    border-color: #ff00ffff;
}

.white-text {
    color: white;
}

.white-bg {
    background: white;
}

.wip:active {
    background: grey;
}
