.list-items {
    display: flex;
    padding: 0;
    list-style: none;
    align-items: center;
    gap: 16px;
    line-height: unset;
}

.list-items:hover {
    background: none;
}

.list-items a:hover {
    background: none;
}

.list-items li {
    inline-size: var(--tiny);
}
