.turn-loop {
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

@media screen and (max-width: 600px) {
}
