.turn {
}

.turn:hover {
    rotate: 3deg;
}

.turn:active {
    rotate: 10deg;
}

@media screen and (max-width: 600px) {
    .turn:hover {
        rotate: unset;
    }

    .turn:active {
        rotate: unset;
    }
}
