@layer theme, ci, display,button,animated;

@import url(theme.css) layer(theme);
@import url(ci/color.css) layer(color);
@import url(ci/font.css) layer(font);

@import url(basic/center.css) layer(center);
@import url(display/display.css) layer(display);
@import url(display/list-items.css) layer(list-items);

@import url(basic/footer.css) layer(footer);
@import url(basic/button.css) layer(button);
@import url(basic/size.css) layer(size);

@import url(animation/animated.css) layer(animated);
@import url(animation/grow.css) layer(grow);
@import url(animation/turn.css) layer(turn);
@import url(animation/opacity-transition.css) layer(opacity-transition);
