.news article {
    margin: 1em;
    margin-inline: 10vw;
    min-width: 80%;
    div {
        margin-block: 2rem;
    }
}

.news article div[class=condition] {
    font-style: italic;
    text-indent: 2rem;

}


@media screen and (max-width: 600px) {
.news article {
    margin:0;
    margin-inline: 1em;
    padding-block: 10vh;
    min-width: 80%;
}

}
