.news article {
    margin: 1em;
    margin-inline: 10vw;
    min-width: 80%;
    div {
        margin-block: 2rem;
    }
}

.news article div[class=condition] {
    font-style: italic;
    text-indent: 2rem;

}

.news article iframe{
    height: 500px;
}

.news article p {
    text-indent: 3em;
    margin-block-end: 1rem;
}

.news article div[class=center] {
    text-align: center;
    align-items: center;
    background: rgba(150, 120, 190, 0.2);
    padding: 1rem;
    p {
    text-indent: 0;
    }
}


@media screen and (max-width: 600px) {
.news article {
    margin:0;
    margin-inline: 1em;
    padding-block: 10vh;
    min-width: 80%;
}

.news article iframe{
    height: 250px;
}


}
