@layer theme, panel, forpage;

@import url("theme.css") layer(theme);

@import url("panel.css") layer(panel);

@import url("forpage.css") layer(forpage);

@import url("news.css") layer(news);

@import url("sublink.css") layer(sublink);

@import url("queuelist.css") layer(queuelist);

@import url(navglobal.css) layer(navglobal);
@import url(aboutpage.css) layer(aboutpage);

@import url(showlinks.css) layer(showlinks);
@import url(intro.css) layer(intro);
@import url(shop.css) layer(shop);
