/* Class Selector

For Div
.container
.container div
.container header
.container footer
.container article img
.thumbnail
.panel
.forpage
*/

/* General Styles */

* {
    margin: unset;
}

html {
    font-family: Sarabun, Helvetica, Verdana, Arial, sans-serif;
    background-color: whitesmoke;
    font-size: 18px;
    scroll-behavior: smooth;
    scroll-padding-top: 25vh;
}

body {
}

img,
picture,
video,
svg {
    inline-size: 100%;
}

iframe {
}

h1,
h2,
h3,
h4 {
    font-family: Helvetica;
    letter-spacing: 0.1rem;
}

h1 {
    /*Using calc to adjust size to screen width*/
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
}

h3 {
    font-size: 1.25rem;
    font-weight: lighter;
}

h4 {
    font-size: 1.125rem;
    font-weight: lighter;
}

p,
ul,
ol,
li,
dl {
    font-family: Sarabun;
}

ol {
    line-height: 1.6;
}

p,
ul {
    line-height: 1.6;
}

a {
    outline-color: transparent;
    text-decoration: none;
    color: var(--main-color);
}

a:link {
    color:;
}

a:visited {
    color: var(--main-color);
}

a:focus {
    background: var(--main-grey);
}

a:hover {
    background: var(--main-color);

    text-decoration: none;
}

blockquote {
    background-color: beige;
}

.links ul {
    list-style: none;
    padding: 0;
    text-indent: 1rem;
}

/* a:hover::before {
    content: "☞ ";
    margin-inline-start: -1rem;
} */

a:active {
    color: rgba(170, 120, 250, 1);
    background: rgb(120, 200, 120, 0.8);
}

@media screen and (max-width: 600px) {
    html {
        font-size: 20px;
    }
}

/* container/div for Responsive Design */

.container div {
    /* flex: 1 auto; */
}

.thumbnail {
    block-size: calc(30vh);
}

.panel {
    min-block-size: 300px;
}

@media screen and (max-width: 600px) {
    .thumbnail {
        margin: 0;
        padding: 0;
    }
}

/* Styles Specific to Header */

.container header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding-inline: 5vw;
    margin-block: 1rem;
}

.container header div {
    text-align: left;
    flex: 1 auto;
}

.container header div:first-child {
    flex: 2 40%;
}

.container header div:last-child {
    margin: 2rem;
}

.container header div[class="thumbnail"] ~ h3 {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .container header {
        display: block;
        padding: 0;
        margin-block-end: 20vh;
    }

    .container header div {
        margin-block: 2rem;
        padding: 0;
    }

    .container header div:last-child {
    }
}

/* Styles Specific to Main content */

.container article {
    display: flex;
    padding-inline: calc(15vw - 100px);
    margin-block: 2rem;
}

.container article > div {
    flex: 1;
    margin: 0.5rem;
    padding: 2rem;
    background-color: rgba(150, 120, 190, 0.2);
    text-align: center;

    ~ h2,
    h3,
    h4,
    p {
        margin-block-end: 1rem;
        line-height: 1.4;
    }
}

.container article div > div {
    padding: 0;
    margin-block-start: 1rem;
}

.container article > div:first-child {
    padding: 0;
    margin-block-end: 2rem;
    background-color: unset;
}

.container article div:first-child + div {
    text-align: center;
}

article.showcase {
    display: block;
    padding-inline: calc(35vw - 100px);
    margin-block: 2rem;
}

article div.footnotes {
    li {
        padding: 1rem;
    }
}
/*
.container article div[class="next"] {
    margin: 0 auto;
    inline-size: 300px;
    border-radius: 10px;
    text-align: center;
    margin-block: 1rem;

    ~ h4,
    a {
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
}

.container div[class="next"]:hover {
    filter: hue-rotate(180deg);
} */

/* Responsive Main content */

@media screen and (max-width: 600px) {
    .container article {
        display: block;
        margin: 0;
        padding: 0;
        margin-block: 2rem;
        text-align: center;
    }

    .container article > div {
        padding: 0;
        margin: 0;
        margin-block-end: 1rem;
        padding-block: 3rem;
    }

    .container article div:first-child {
        text-align: center;
    }

    .container article div li {
    }

    .container article div a {
        line-height: 2rem;
        padding-inline-end: 1rem;
    }

    .container article div {
        ~ h2,
        h3,
        h4,
        p {
            padding-inline: 1rem;
        }
    }

    .container div[class="next"] {
        filter: hue-rotate(180deg);
        border-radius: 50px;
        padding: 1rem;

        ~ h4,
        a {
            font-weight: bold;
            margin: 0;
            padding: 0;
        }
    }
}
