.button {
    padding: 10px;
    background-color: unset;
}

.button:hover {
    background-color: unset;
}

.button-logo {
    border: none;
    background-color: unset;
}

.button-box {
    border: 2px solid black;
}

@media screen and (max-width: 600px) {
    .button-main {
        inline-size: 150px;
        block-size: 150px;
    }
}
