.button {
}

.button:hover {
}

.button-logo {
    border: none;
    background-color: unset;
}

.button-box {
    border: 2px solid black;
}

.click-expand {
    position: absolute;
    bottom: 25px;
    left: 5px;
}

@media screen and (max-width: 600px) {
    .button-main {
        inline-size: 150px;
        block-size: 150px;
    }
}
