.text-center {
    text-align: center;
}

.flex-center {
    align-items: center;
}

.justify-center {
    justify-self: center;
}

.grid-center {
    place-items: center;
}

.block-center {
    margin: auto;
}
