:root {
    --large: 800px;
    --big: 600px;
    --great: 400px;
    --chonk: 300px;
    --normal: 200px;
    --compact: 140px;
    --small: 50px;
}

.square {
    aspect-ratio: 1/1;
}

.large {
    inline-size: var(--large);
}

.big {
    inline-size: var(--big);
}

.great {
    inline-size: var(--great);
}

.great-block {
    block-size: var(--great);
}

.chonk {
    inline-size: var(--chonk);
}

.normal {
    inline-size: var(--normal);
}

.normal-block {
    block-size: var(--normal);
}

.compact {
    inline-size: var(--compact);
}

.compact-block {
    block-size: var(--compact);
}

.small {
    inline-size: var(--small);
}

.small-block {
    block-size: var(--small);
}

.fit {
    inline-size: 100%;
    min-inline-size: 150px;
}

.half {
    inline-size: 50%;
}

.flex-one {
    flex: 1;
}

.flex-two {
    flex: 2;
}

.grid-columns-two {
    grid-template-columns: repeat(2, 1fr);
}

.grid-columns-four {
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 600px) {
    .half {
        inline-size: 100%;
    }

    .large,
    .big,
    .great,
    .great-block,
    .normal {
        inline-size: 100%;
    }
    .mobile {
        inline-size: calc(40vw - 10px);
    }
}
