.square {
    aspect-ratio: 1/1;
}

.large {
    inline-size: 800px;
}

.big {
    inline-size: 600px;
}

.great {
    inline-size: 400px;
}

.chonk {
    inline-size: 300px;
}

.normal {
    inline-size: 200px;
    block-size: auto;
}

.compact {
    inline-size: 140px;
    block-size: auto;
}

.small {
    inline-size: 50px;
}

.fit {
    inline-size: 100%;
    min-inline-size: 150px;
}

.half {
    inline-size: 50%;
}

.flex-one {
    flex: 1;
}

.flex-two {
    flex: 2;
}

.grid-columns-two {
    grid-template-columns: repeat(2, 1fr);
}

.grid-columns-four {
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 600px) {
    .half {
        inline-size: 100%;
    }

    .large,
    .big,
    .great,
    .normal {
        inline-size: 100%;
    }
    .mobile {
        inline-size: calc(40vw - 10px);
    }
}
